@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800&display=swap');


$font-family-default: 'Nunito', sans-serif;

$font-size-large: 2em;
$font-size-small: 1.2em;

$primary-bg-color: lightgray;
$second-bg-color: rgb(235, 226, 226);
$third-bg-color: orangered;
$bg-index: rgb(69, 179, 127);
$bg-twitter: #00acee;
$bg-instagram: #ff0069;
$bg-instagram-gradient: linear-gradient(210deg, #ffd600, #ff7a00, #ff0069, #d300c5, #7638fa);
$bg-facebook: #3b5998;
$bg-github: #1c222b;



$primary-color: white;

$border-radius: 10px;
$border-radius-large: 30px;

$mobile: 651px;